body {
  background-color: whitesmoke;
}

.App {
  margin: 5% auto;
  text-align: center;
  background-color: #282c34;
  height: 500px;
  width: 60%;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
